extends layout

block content
  h1= title
  p File Upload Service
  input#file(type='file')
  button(id="upload") Upload
  script.
        document.getElementById('upload').addEventListener('click', () => {
            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];
            

            const formData = new FormData();
            formData.append('file', file);

            fetch('http://localhost:3000/upload?fileName=file.csv',{
                method: 'POST',
                body: formData,
            })
            
        });
    

  

    
  

  
