extends layout_upload

block content1 
    h1= title
    form(action='/upload', method = 'POST')
        input#myFile(type='file', name='filename',accept = ".csv" )
        input(type='submit')
        