extends layout_upload

block content1 
    h1= title
    form(action="/upload"  enctype="multipart/form-data" method="post")
        input(name="filename", type="file", accept = ".csv")
        button(type="submit") Upload
     
   

